/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}

/* Link Styles */
a {
  text-decoration: none;
  color: #999;
}

/* Navigation Styles */
.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-size: 1em;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  transition: all .5s;
}

.nav a:hover, .nav a.selected {
  color: white;
}

/*Header Styles*/
header {
  text-align: center;
  background-image: url('../images/sydney.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  background-color: black;
  overflow: hidden;
  padding-top: 60px;
}

header {
  line-height: 1.5;
}

header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}

header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}

/*Tag Style*/
.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}

.occupation {
  background-color: #222;
  color: gold;
}

/*Section Styles*/
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.card:hover {
  border-color: #0399ff;
}

.treehouse-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  float: left;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 6px 10px;
  margin: 3px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

/* Footer Styles */
footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(../images/twitter.svg);
}
a.linkedin {
  background-image: url(../images/linkedin.svg);
}
a.github {
  background-image: url(../images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Projects page */
#gallery {
  width: 100%;
  margin: 0;
  padding: 0;
}

#gallery li h3 {
  text-align: center;
}

#gallery img {
  max-width: 100%;
}

#gallery li {
  list-style: none;
  float: left;
  width: 90%;
  margin: 5%;
  background-color: #f7f5f0;
  font-size: 0.9em;
}

#gallery li p {
  margin: 0;
  padding: 5%;
}

.flex2 {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
}

.card2 {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 90%;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.card2:hover {
  border-color: #0399ff;
} 

/* Contact Page Style */
.contact-info {
  list-style-type: none;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}

.contact-info a {
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: block;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
  transition: all .5s;
}

.contact-info a:hover {
  color: #0399ff;
}

.contact-info li.phone a {
  background-image: url('../images/phone.png');
}

.contact-info li.email a {
  background-image: url('../images/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../images/twitter.png');
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex;
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
    font-size: 1.2em;
  }

  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

  /* page: projects*/
  #gallery li {
    margin: 2.5%;
    width: 28.3333%;
  }

  #gallery li:nth-child(4n) {
    clear: left;
  }
}
